/* Estilos generales del cuerpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Estilos del contenedor principal de la calculadora */
.calculator {
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #0000001a;
}

/* Estilos de la pantalla de la calculadora */
.calculator-screen {
    width: 93.5%;
    height: 70px;
    border: none;
    background-color: #252525;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 2.4rem;
}

/* Estilos de los botones de la calculadora */
.calculator-keys button {
    height: 60px;
    font-size: 1.4rem;
    margin: 2px;
}

/* Estilos de los botones de operadores */
.operator {
    background-color: #f09a36;
    color: white;
}

/* Estilos del botón de igual */
.equal-sign {
    height: 100%;
    grid-column: 4;
}

/* Estilos del botón de borrar todo */
.all-clear {
    background-color: #d9534f;
    color: white;
    grid-column: span 2;
}

/* Estilos del contenedor de botones de la calculadora */
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
